body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:1565px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37809 {
  position:absolute;
  left:-2px;
  top:51px;
  width:1410px;
  height:1565px;
}
#u37810 {
  position:absolute;
  left:2px;
  top:774px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:53px;
}
#u37811 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1410px;
  height:53px;
}
#u37812 {
  position:absolute;
  left:2px;
  top:18px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u37813 {
  position:absolute;
  left:10px;
  top:1578px;
  width:1390px;
  height:38px;
  color:#666666;
  text-align:center;
}
#u37814 {
  position:absolute;
  left:0px;
  top:12px;
  width:1390px;
  word-wrap:break-word;
}
#u37815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:1526px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37815 {
  position:absolute;
  left:-1px;
  top:51px;
  width:1409px;
  height:1526px;
}
#u37816 {
  position:absolute;
  left:2px;
  top:755px;
  width:1405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37817 {
  position:absolute;
  left:1245px;
  top:16px;
  width:116px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37818 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u37819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37819 {
  position:absolute;
  left:212px;
  top:51px;
  width:1196px;
  height:53px;
}
#u37820 {
  position:absolute;
  left:2px;
  top:18px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:1512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37821 {
  position:absolute;
  left:0px;
  top:51px;
  width:214px;
  height:1512px;
}
#u37822 {
  position:absolute;
  left:2px;
  top:748px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:1442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37823 {
  position:absolute;
  left:231px;
  top:121px;
  width:1157px;
  height:1442px;
}
#u37824 {
  position:absolute;
  left:2px;
  top:713px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37826 {
  position:absolute;
  left:65px;
  top:235px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37827 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37828 {
  position:absolute;
  left:65px;
  top:268px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37829 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u37830 {
  position:absolute;
  left:38px;
  top:235px;
  width:18px;
  height:15px;
}
#u37831 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37833 {
  position:absolute;
  left:65px;
  top:72px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37834 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u37835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37835 {
  position:absolute;
  left:65px;
  top:110px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37835_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37835.selected {
}
#u37836 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u37837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u37837 {
  position:absolute;
  left:38px;
  top:72px;
  width:18px;
  height:18px;
  font-size:12px;
}
#u37838 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37839 {
  position:absolute;
  left:65px;
  top:151px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37839_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37839.selected {
}
#u37840 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u37839_ann {
  position:absolute;
  left:168px;
  top:147px;
  width:1px;
  height:1px;
}
#u37841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37841 {
  position:absolute;
  left:65px;
  top:173px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37841_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37841.selected {
}
#u37842 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u37843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37843 {
  position:absolute;
  left:65px;
  top:130px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37843_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37843.selected {
}
#u37844 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u37843_ann {
  position:absolute;
  left:168px;
  top:126px;
  width:1px;
  height:1px;
}
#u37845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37845 {
  position:absolute;
  left:65px;
  top:293px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37846 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37847 {
  position:absolute;
  left:66px;
  top:361px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37848 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37849 {
  position:absolute;
  left:66px;
  top:391px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37850 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37851 {
  position:absolute;
  left:66px;
  top:416px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u37852 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37853 {
  position:absolute;
  left:66px;
  top:462px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u37854 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37855 {
  position:absolute;
  left:66px;
  top:492px;
  width:112px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37856 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37857_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:5px;
}
#u37857 {
  position:absolute;
  left:1112px;
  top:49px;
  width:55px;
  height:2px;
}
#u37858 {
  position:absolute;
  left:2px;
  top:-7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u37860 {
  position:absolute;
  left:22px;
  top:9px;
  width:39px;
  height:33px;
}
#u37861 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37862 {
  position:absolute;
  left:61px;
  top:13px;
  width:153px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37863 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u37864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37865 {
  position:absolute;
  left:286px;
  top:16px;
  width:58px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37866 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u37867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37867 {
  position:absolute;
  left:689px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37868 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37869 {
  position:absolute;
  left:789px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37870 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37871 {
  position:absolute;
  left:889px;
  top:16px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37872 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37873 {
  position:absolute;
  left:990px;
  top:16px;
  width:79px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37874 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u37875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37875 {
  position:absolute;
  left:588px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37877 {
  position:absolute;
  left:387px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37879 {
  position:absolute;
  left:488px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37881 {
  position:absolute;
  left:1112px;
  top:16px;
  width:79px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37882 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u37883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37883 {
  position:absolute;
  left:36px;
  top:358px;
  width:20px;
  height:20px;
}
#u37884 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37885 {
  position:absolute;
  left:36px;
  top:462px;
  width:20px;
  height:20px;
}
#u37886 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:43px;
}
#u37887 {
  position:absolute;
  left:32px;
  top:229px;
  width:31px;
  height:43px;
}
#u37888 {
  position:absolute;
  left:2px;
  top:14px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u37889 {
  position:absolute;
  left:265px;
  top:141px;
  width:160px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u37890 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u37891_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:6px;
}
#u37891 {
  position:absolute;
  left:231px;
  top:121px;
  width:117px;
  height:3px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37892 {
  position:absolute;
  left:2px;
  top:-6px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37893 {
  position:absolute;
  left:348px;
  top:121px;
  width:1040px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37894 {
  position:absolute;
  left:2px;
  top:18px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
  text-align:center;
}
#u37895 {
  position:absolute;
  left:353px;
  top:587px;
  width:140px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
  text-align:center;
}
#u37896 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u37895_ann {
  position:absolute;
  left:486px;
  top:583px;
  width:1px;
  height:1px;
}
#u37897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u37897 {
  position:absolute;
  left:539px;
  top:292px;
  width:11px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37898 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37900 {
  position:absolute;
  left:265px;
  top:505px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37901 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37902 {
  position:absolute;
  left:353px;
  top:505px;
  width:360px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37903 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37905 {
  position:absolute;
  left:353px;
  top:505px;
  width:100px;
  height:16px;
  color:#666666;
}
#u37906 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37905_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37907 {
  position:absolute;
  left:444px;
  top:505px;
  width:100px;
  height:16px;
  color:#666666;
}
#u37908 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37909 {
  position:absolute;
  left:265px;
  top:297px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37910 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37911 {
  position:absolute;
  left:353px;
  top:292px;
  width:281px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37912 {
  position:absolute;
  left:12px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u37911_ann {
  position:absolute;
  left:627px;
  top:288px;
  width:1px;
  height:1px;
}
#u37913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37913 {
  position:absolute;
  left:265px;
  top:334px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37914 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37916 {
  position:absolute;
  left:353px;
  top:331px;
  width:88px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37917 {
  position:absolute;
  left:12px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u37916_ann {
  position:absolute;
  left:434px;
  top:327px;
  width:1px;
  height:1px;
}
#u37918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u37918 {
  position:absolute;
  left:431px;
  top:338px;
  width:7px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37920 {
  position:absolute;
  left:265px;
  top:366px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37921 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37923 {
  position:absolute;
  left:353px;
  top:363px;
  width:88px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37924 {
  position:absolute;
  left:12px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u37923_ann {
  position:absolute;
  left:434px;
  top:359px;
  width:1px;
  height:1px;
}
#u37925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u37925 {
  position:absolute;
  left:431px;
  top:370px;
  width:7px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37926 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37927 {
  position:absolute;
  left:265px;
  top:399px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37928 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37930 {
  position:absolute;
  left:353px;
  top:396px;
  width:88px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37931 {
  position:absolute;
  left:12px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u37930_ann {
  position:absolute;
  left:434px;
  top:392px;
  width:1px;
  height:1px;
}
#u37932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u37932 {
  position:absolute;
  left:431px;
  top:403px;
  width:7px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37933 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37934 {
  position:absolute;
  left:265px;
  top:434px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37935 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37936 {
  position:absolute;
  left:265px;
  top:468px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37937 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37938 {
  position:absolute;
  left:353px;
  top:427px;
  width:281px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37939 {
  position:absolute;
  left:12px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u37938_ann {
  position:absolute;
  left:627px;
  top:423px;
  width:1px;
  height:1px;
}
#u37940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37940 {
  position:absolute;
  left:353px;
  top:465px;
  width:281px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37941 {
  position:absolute;
  left:12px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u37940_ann {
  position:absolute;
  left:627px;
  top:461px;
  width:1px;
  height:1px;
}
#u37942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:2px;
}
#u37942 {
  position:absolute;
  left:265px;
  top:548px;
  width:1059px;
  height:1px;
}
#u37943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37945 {
  position:absolute;
  left:233px;
  top:67px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37946 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u37947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u37947 {
  position:absolute;
  left:287px;
  top:70px;
  width:14px;
  height:14px;
}
#u37948 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u37949 {
  position:absolute;
  left:303px;
  top:67px;
  width:68px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u37950 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u37951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u37951 {
  position:absolute;
  left:531px;
  top:587px;
  width:140px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u37952 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u37951_ann {
  position:absolute;
  left:664px;
  top:583px;
  width:1px;
  height:1px;
}
#u37953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37955 {
  position:absolute;
  left:265px;
  top:199px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37956 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37957 {
  position:absolute;
  left:353px;
  top:199px;
  width:360px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37958 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37959 {
  position:absolute;
  left:353px;
  top:194px;
  width:281px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37960 {
  position:absolute;
  left:12px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u37959_ann {
  position:absolute;
  left:627px;
  top:190px;
  width:1px;
  height:1px;
}
#u37961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37963 {
  position:absolute;
  left:265px;
  top:232px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37964 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37965 {
  position:absolute;
  left:353px;
  top:232px;
  width:360px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u37966 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37967 {
  position:absolute;
  left:353px;
  top:227px;
  width:281px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37968 {
  position:absolute;
  left:12px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u37967_ann {
  position:absolute;
  left:627px;
  top:223px;
  width:1px;
  height:1px;
}
#u37969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37970 {
  position:absolute;
  left:353px;
  top:260px;
  width:281px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u37971 {
  position:absolute;
  left:12px;
  top:4px;
  width:267px;
  word-wrap:break-word;
}
#u37970_ann {
  position:absolute;
  left:627px;
  top:256px;
  width:1px;
  height:1px;
}
#u37972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u37972 {
  position:absolute;
  left:613px;
  top:267px;
  width:13px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u37973 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37974 {
  position:absolute;
  left:265px;
  top:263px;
  width:72px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u37975 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u37976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u37976 {
  position:absolute;
  left:644px;
  top:204px;
  width:71px;
  height:12px;
  font-size:10px;
  color:#999999;
}
#u37977 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u37978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#990000;
}
#u37978 {
  position:absolute;
  left:65px;
  top:149px;
  width:86px;
  height:17px;
  font-size:12px;
  color:#990000;
}
#u37979 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u37980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#990000;
}
#u37980 {
  position:absolute;
  left:65px;
  top:72px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#990000;
}
#u37981 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
