body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:1565px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34063 {
  position:absolute;
  left:-2px;
  top:51px;
  width:1410px;
  height:1565px;
}
#u34064 {
  position:absolute;
  left:2px;
  top:774px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:53px;
  background:-webkit-linear-gradient(315deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34065 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1410px;
  height:53px;
}
#u34066 {
  position:absolute;
  left:2px;
  top:18px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u34067 {
  position:absolute;
  left:10px;
  top:1578px;
  width:1390px;
  height:38px;
  color:#666666;
  text-align:center;
}
#u34068 {
  position:absolute;
  left:0px;
  top:12px;
  width:1390px;
  word-wrap:break-word;
}
#u34069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:1526px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34069 {
  position:absolute;
  left:-1px;
  top:51px;
  width:1409px;
  height:1526px;
}
#u34070 {
  position:absolute;
  left:2px;
  top:755px;
  width:1405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34071 {
  position:absolute;
  left:1230px;
  top:16px;
  width:131px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34072 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u34073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34073 {
  position:absolute;
  left:212px;
  top:51px;
  width:1196px;
  height:53px;
}
#u34074 {
  position:absolute;
  left:2px;
  top:18px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:1512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34075 {
  position:absolute;
  left:0px;
  top:51px;
  width:214px;
  height:1512px;
}
#u34076 {
  position:absolute;
  left:2px;
  top:748px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:1442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34077 {
  position:absolute;
  left:231px;
  top:121px;
  width:1157px;
  height:1442px;
}
#u34078 {
  position:absolute;
  left:2px;
  top:713px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34079_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:57px;
  height:5px;
}
#u34079 {
  position:absolute;
  left:387px;
  top:49px;
  width:54px;
  height:2px;
}
#u34080 {
  position:absolute;
  left:2px;
  top:-7px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u34082 {
  position:absolute;
  left:22px;
  top:9px;
  width:39px;
  height:33px;
}
#u34083 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34085 {
  position:absolute;
  left:65px;
  top:72px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34086 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34087 {
  position:absolute;
  left:65px;
  top:102px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34087_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34087.selected {
}
#u34088 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u34089 {
  position:absolute;
  left:38px;
  top:72px;
  width:15px;
  height:15px;
}
#u34090 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34092 {
  position:absolute;
  left:286px;
  top:16px;
  width:58px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34093 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u34094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34094 {
  position:absolute;
  left:689px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34096 {
  position:absolute;
  left:789px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34097 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34098 {
  position:absolute;
  left:889px;
  top:16px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34099 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34100 {
  position:absolute;
  left:990px;
  top:16px;
  width:79px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34101 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u34102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34102 {
  position:absolute;
  left:588px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34104 {
  position:absolute;
  left:387px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34106 {
  position:absolute;
  left:488px;
  top:16px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34108 {
  position:absolute;
  left:65px;
  top:205px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34109 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u34110 {
  position:absolute;
  left:38px;
  top:205px;
  width:15px;
  height:15px;
}
#u34111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34112 {
  position:absolute;
  left:65px;
  top:229px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34112_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34112.selected {
}
#u34113 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34114 {
  position:absolute;
  left:65px;
  top:124px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34114_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34114.selected {
}
#u34115 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34116 {
  position:absolute;
  left:65px;
  top:144px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34116_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34116.selected {
}
#u34117 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34118 {
  position:absolute;
  left:61px;
  top:13px;
  width:204px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34119 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u34120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34121 {
  position:absolute;
  left:65px;
  top:343px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u34122 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34123 {
  position:absolute;
  left:63px;
  top:368px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34123_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34123.selected {
}
#u34124 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u34125 {
  position:absolute;
  left:38px;
  top:343px;
  width:15px;
  height:15px;
  color:#CCCCCC;
}
#u34126 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34127 {
  position:absolute;
  left:73px;
  top:389px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34127_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34127.selected {
}
#u34128 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34129 {
  position:absolute;
  left:65px;
  top:249px;
  width:110px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34129_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u34129.selected {
}
#u34130 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34131 {
  position:absolute;
  left:371px;
  top:220px;
  width:63px;
  height:13px;
}
#u34132 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u34133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:53px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34133 {
  position:absolute;
  left:230px;
  top:121px;
  width:124px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34133_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:53px;
  background:inherit;
  background-color:rgba(81, 168, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 168, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34133.selected {
}
#u34134 {
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u34133_ann {
  position:absolute;
  left:347px;
  top:117px;
  width:1px;
  height:1px;
}
#u34135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34135 {
  position:absolute;
  left:347px;
  top:121px;
  width:141px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34135_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(81, 168, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 168, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34135.selected {
}
#u34136 {
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u34135_ann {
  position:absolute;
  left:481px;
  top:117px;
  width:1px;
  height:1px;
}
#u34137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34137 {
  position:absolute;
  left:482px;
  top:121px;
  width:120px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34137_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
  background:inherit;
  background-color:rgba(81, 168, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 168, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34137.selected {
}
#u34138 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u34137_ann {
  position:absolute;
  left:595px;
  top:117px;
  width:1px;
  height:1px;
}
#u34139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34139 {
  position:absolute;
  left:719px;
  top:121px;
  width:120px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34139_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
  background:inherit;
  background-color:rgba(81, 168, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 168, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u34139.selected {
}
#u34140 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u34139_ann {
  position:absolute;
  left:832px;
  top:117px;
  width:1px;
  height:1px;
}
#u34141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u34142 {
  position:absolute;
  left:233px;
  top:67px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u34143 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u34144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u34144 {
  position:absolute;
  left:310px;
  top:70px;
  width:14px;
  height:14px;
}
#u34145 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u34146 {
  position:absolute;
  left:326px;
  top:67px;
  width:97px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u34147 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u34148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u34148 {
  position:absolute;
  left:416px;
  top:67px;
  width:75px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u34149 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34150 {
  position:absolute;
  left:834px;
  top:121px;
  width:554px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34151 {
  position:absolute;
  left:2px;
  top:18px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u34152 {
  position:absolute;
  left:630px;
  top:141px;
  width:83px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u34153 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u34154_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:6px;
}
#u34154 {
  position:absolute;
  left:602px;
  top:121px;
  width:117px;
  height:3px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34155 {
  position:absolute;
  left:2px;
  top:-6px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
